.heading {
  border: 1px solid lightgray;
  margin: auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#arithmepad-content {
  padding-top: 60px;
}

.ace_editor {
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 200px;
  width: 100%;
}

.ace_editor.fullScreen {
  height: auto;
  width: auto;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fullScreen {
  overflow: hidden
}

.arithmepad-cell-divider {
  padding: 20px;
}

.arithmepad-output {
  border: 1px solid lightgray;
  margin: auto;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}