#arithmepad-content {
  padding-top: 60px;
}

body {
  background: #eee;
}

#arithmepad-cells {
  background: #fff;
  padding: 15px;
  box-shadow: 1px 1px 5px 5px #ddd;
}

.ace_editor {
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 200px;
  width: 100%;
}

.ace_editor.fullScreen {
  height: auto;
  width: auto;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fullScreen {
  overflow: hidden
}

.arithmepad-cell-divider {
  padding: 20px;
}

.arithmepad-code-cell {
  margin: auto;
  width: 100%;
  padding: 5px;
}

.arithmepad-input {
  margin: auto;
  width: 90%;
}

.arithmepad-output {
  border: 1px solid lightgray;
  margin: auto;
  width: 90%;
  margin-top: 10px;
  padding: 5px;
}

.arithmepad-command-selection {
  border: 1px solid lightgray;
  padding: 4px;
}

.arithmepad-edit-selection {
  border: 1px solid lightgreen;
  padding: 4px;
}